/*  Colors
    Dark Blue: #19262E
    Lighter Blue: #23333E
    Yellow for Dark: #eec580
    Yellow for Light: #ad8c32
    Text Color (Grey): #6d6d6d
    Text Color (Blue): #273b48
    Text Color (White): #fefefe
    BG Grey: #E5E5E5
    Body bg grey: #F0F0F0

    Fonts
    Body: "niveau-grotesk",sans-serif;
    Headers: "Lora", serif;
*/

/*-------------- Base Styles --------------*/
html {box-sizing:border-box; margin:auto;  overflow-x: hidden;} 
body {font-family: "niveau-grotesk",sans-serif; position: relative; box-sizing:border-box; font-size: 18px; line-height: 30px; background-color: #F0F0F0; color: #6d6d6d; overflow-x: hidden;}
section, header, footer {width: 100%; position: relative;}
section, header {position: relative; z-index: 1;}
header {z-index: 10000;}
h1 {font-family: "Lora", serif; font-size: 50px; line-height: 64px; color: #273b48; font-weight: 400;}
h2 {font-family: "Lora", serif; font-size: 36px; line-height: 45px; color: #273b48; font-weight: 400;}
h3 {font-family: "Lora", serif; font-size: 24px; line-height: 36px; color: #273b48; font-weight: 400;}
h4 {font-family: "niveau-grotesk",sans-serif; font-size: 18px; line-height: 30px; font-weight: 700;}
h5 {font-family: "niveau-grotesk",sans-serif; font-size: 14px; line-height: 24px; font-weight: 700;}
h1, h2, h3, h4, h5, p {margin-top: 0px;}
input[type=text], input[type='email'], textarea, select {-webkit-appearance: none; box-shadow: none !important;}
a {text-decoration: none; -webkit-transition:all 0.25s ease-in-out; transition: all 0.25s ease-in-out; opacity: 1.0;}
.fade {-webkit-transition:all 0.25s ease-in-out;transition: all 0.25s ease-in-out; opacity: 1.0;}
.fade:hover {opacity: 0.6;}
div {box-sizing: border-box;}
* {box-sizing: border-box;}
body *::-moz-selection { background: #273b48; color: #eec580; }
body *::selection { background: #273b48; color: #eec580; }
body .ie {display: none;}

/*-------------- Utility --------------*/
.container {max-width: 1210px; margin: 0px auto; padding: 0px 20px; overflow: hidden;}
.container.full {padding: 0px; width: 100%; max-width: none;}
.container.show {overflow: visible;}
.clear {clear: both;}
.overlay {position: relative; text-align: center; background-repeat: no-repeat; background-position: center center; background-size: cover;}
.overlay::after {content: ''; position: absolute; z-index: 0; top: 0px; right: 0px; bottom: 0px; left: 0px; background-color: #000000; opacity: 0.55; -webkit-transition:all 0.25s ease-in-out; transition: all 0.25s ease-in-out;}
.overlay.blue::after {background-color: #1c2b34;}
.overlay.map::after {opacity: 0;}
.overlay:hover::after {opacity: 0.7;}
.overlay.map:hover::after {opacity: 0.3;}
.overlay .text {
    text-align: center; position: absolute; top:50%; left: 50%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); color: #eec580 !important; 
    font-family: "Lora", serif; font-size: 24px; line-height: 30px; white-space: nowrap; z-index: 1;}
.overlay a {position: absolute; top: 0px; right: 0px; left: 0px; bottom: 0px; z-index: 2;}
.presentation.overlay {width: 100%; height: 200px; /*background-image: url(../img/bg-presentation.jpg);*/}
/* WEBP CSS */
html.no-webp .presentation.overlay{background-image:url(../img/bg-presentation.jpg);}
html.webp .presentation.overlay {background-image:url(../img/bg-presentation.webp);}
/*--*/

#width-check {position: relative; z-index: 0;}
a.follow {color: #eec580; font-size: 18px; font-weight: 400;}
a.follow.light {color: #ad8c32;}
a.follow::after {display: inline-block; content: '\f18e'; font-family: FontAwesome; padding-left: 8px;}
.gold-line {position: relative; padding-bottom: 50px; margin-bottom: 50px;}
.gold-line::after {content: ''; position: absolute; height: 1px; background-color: #ad8c32; right: -webkit-calc(100% - 80px); right: calc(100% - 80px); bottom: 0px; width: 9999px;}
.gold-line.dark::after {background-color: #eec580;}


/* RECAPTCHA */
.grecaptcha-badge { display: none !important; z-index: 1000; }
.grecaptcha-badge.show { display: block !important; visibility: visible !important; }


/*-------------- Header --------------*/
header {position: fixed; top: 0px; width: 100%;}
#head-hold {height: 70px; background-color: #19262E;}
#head-hold .logo {float: left; padding-left: 45px; padding-top: 23px;}
#head-hold nav.navigation {float: right; padding-right: 45px;}
#head-hold nav.navigation #stock-info {float: left; padding-right: 50px; font-size: 14px; line-height: 70px; font-weight: 500;}
#head-hold nav.navigation #stock-info .symbol {float: left;}
#head-hold nav.navigation #stock-info .symbol a {color: #eec580;}
#head-hold nav.navigation #stock-info .symbol:first-child {padding-right: 20px;}
#head-hold nav.navigation ul {list-style: none; margin: 0px; padding: 0px; float: left;}
#head-hold nav.navigation ul li.dropdown {display: inline-block;}
#head-hold nav.navigation ul li.dropdown a.top-level {font-size: 14px; text-transform: uppercase; color: #fefefe; font-weight: 500; padding: 28px 35px; line-height: 70px;}
#head-hold nav.navigation ul .drop {background-color: #23333E; padding-top: 100px; padding-bottom: 30px; min-height: 400px; position: absolute; top: 70px; left: 0px; right: 0px; -webkit-transform: translateY(-webkit-calc(-100% - 70px)); -ms-transform: translateY(calc(-100% - 70px)); transform: translateY(calc(-100% - 70px)); -webkit-transition:all 0.5s ease-in-out; transition: all 0.5s ease-in-out; z-index: -2;}
#head-hold nav.navigation ul .drop .hold {opacity: 0; -webkit-transition:all 0.25s ease-in-out; transition: all 0.25s ease-in-out;}
#head-hold nav.navigation ul .drop .info {float: left; width: 34%; font-size: 16px; line-height: 25px; color: #fefefe; font-weight: 500; padding-right: 120px;}
#head-hold nav.navigation ul li.dropdown:nth-child(3) .drop .info {width: 59%;}
#head-hold nav.navigation ul .drop .info h3 {color: #eec580; margin-top: 0px;}
#head-hold nav.navigation ul .drop .nav {float: left; width: 25%; padding-right: 20px;}
#head-hold nav.navigation ul .drop .nav ul {float: none;}
#head-hold nav.navigation ul .drop .nav li.sub {margin-bottom: 13px;}
#head-hold nav.navigation ul .drop .nav li.sub:nth-child(2), #head-hold nav.navigation ul .drop .nav li.sub:nth-child(4) {-moz-column-break-before: column;-webkit-column-break-before: column;page-break-before: column;break-before: column;}
#head-hold nav.navigation ul .drop .nav a {color: #fefefe; text-transform: uppercase; font-size: 14px; line-height: 24px; font-weight: 500;}
#head-hold nav.navigation ul li.dropdown.projects .drop .nav {width: 66%; /*-webkit-column-count: 3; -moz-column-count: 3; column-count: 3;*/}
#head-hold nav.navigation ul .drop .nav ul.subsub {padding-left: 30px;}
#head-hold nav.navigation ul .drop .nav li.subsub {line-height: 12px; margin-bottom: 10px;}
#head-hold nav.navigation ul .drop .nav li.subsub a {font-size: 12px; line-height: 18px;}
#head-hold nav.navigation ul li.dropdown.projects .drop .nav a.sub {font-size: 24px; line-height: 36px; color: #eec580; font-family: "Lora", serif; text-transform: capitalize;}
#head-hold nav.navigation ul li.dropdown.projects .drop .nav ul.subsub {padding-left: 0px; margin-top: 40px; margin-bottom: 40px;}
#head-hold nav.navigation ul .drop .extra {float: left; width: 41%;}
#nav-hover {background-color: #eec580; height: 0px; position: absolute; top:66px; -webkit-transition:all 0.25s ease-in-out; transition: all 0.25s ease-in-out;}
#head-hold nav.navigation ul li.dropdown:hover a.top-level {color: #eec580;}
#head-hold nav.navigation ul a:hover {color: #eec580 !important;}
#head-hold nav.navigation ul li.dropdown:hover .drop {z-index: -1;}
#head-hold nav.navigation ul li.dropdown:hover .drop .hold {opacity: 1.0;}
/*#head-hold nav.navigation.open .drop {-webkit-transform: translateY(0px) !important;-ms-transform: translateY(0px) !important;transform: translateY(0px) !important;}*/
#head-hold nav.navigation.open #nav-hover {height: 4px; pointer-events: none;}
body.mobile #head-hold {display: none;}
header + section {margin-top: 40px;}
.no-autoplay { display:none }


/*-------------- Mobile Menu --------------*/
#mobile-head-hold {display: none; position: fixed; top: 0px; width: 100%; height: 70px; background-color: #19262E;}
#mobile-head-hold .logo {float: left; padding-left: 10px; padding-top: 23px;}
#mobile-head-hold .logo svg {-webkit-transform: scale(0.9);-ms-transform: scale(0.9);transform: scale(0.9);}
#mobile-head-hold .menu-icon {width: 25px; position: fixed; top: 27px; right: 20px; cursor: pointer; height: 20px; z-index: 10000; pointer-events: all;}
#mobile-head-hold .menu-icon span { 
    display: block; 
    position: absolute; 
    height: 3px; 
    width: 100%; 
    background-color:#fefefe; 
    opacity: 1; 
    left: 0; 
    -webkit-transition:all 0.25s ease-in-out; 
    transition: all 0.25s ease-in-out;
    border-width: 0px;}
#mobile-head-hold .menu-icon span :nth-child(1) { 
    top:0px; 
    -ms-transform-origin: 100% 0%;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;}
#mobile-head-hold .menu-icon span:nth-child(2) {top:7px;}
#mobile-head-hold .menu-icon span:nth-child(3) {top:14px;}
#mobile-head-hold .menu-icon.open span:nth-child(1) { 
    width:22px; 
    -ms-transform: translate(-14px, 3px) rotate(-45deg); 
    -webkit-transform: translate(-14px, 3px) rotate(-45deg);  
    transform: translate(-14px, 3px) rotate(-45deg);
    opacity: 0;
    border-radius: 6px;
    height: 6px;}
#mobile-head-hold .menu-icon.open span:nth-child(2) { 
    width:22px; 
    -ms-transform: translate(1px,-2px) rotate(45deg); 
    -webkit-transform: translate(1px,-2px) rotate(45deg); 
    transform: translate(1px,-2px) rotate(45deg); 
    border-radius: 6px;
    height: 6px;}
#mobile-head-hold .menu-icon.open span:nth-child(3) { 
    width:22px; 
    -ms-transform: translate(1px,-9px) rotate(-45deg); 
    -webkit-transform: translate(1px,-9px) rotate(-45deg); 
    transform: translate(1px,-9px) rotate(-45deg);
    border-radius: 6px; 
    height: 6px;}  
#mobile-menu-hold {display: none; position: fixed; top: 70px; width: 100%; bottom: 0px; overflow:hidden; pointer-events: none;}    
#mobile-menu-hold .mobile-menu {width: 100%; min-height: 100vh; padding: 0px; margin:0px; box-sizing: border-box; list-style: none; -webkit-transform: translateX(100vw); -ms-transform: translateX(100vw); transform: translateX(100vw); -webkit-transition:all 0.5s ease-in-out; transition: all 0.5s ease-in-out; pointer-events: none;}
#mobile-menu-hold .mobile-menu li {font-size: 25px; line-height: 60px; pointer-events: all;}
#mobile-menu-hold .mobile-menu li.top-level {position: relative; background-color: #23333E; border-bottom: solid 1px #657178; padding: 0px 40px 0px 20px;}
#mobile-menu-hold .mobile-menu li.top-level a.top-level { width: 100%; /*max-width: 400px;*/}
#mobile-menu-hold .mobile-menu li.top-level a.has-submenu::after {content: '+'; position: absolute; right: 40px; font-weight: 700;}
#mobile-menu-hold .mobile-menu li.top-level a.active::after {content: '-'; font-weight: 700;}
#mobile-menu-hold .mobile-menu li.top-level a {color: #fefefe; display: block; font-size: 14px; line-height: 65px; text-transform: uppercase; font-weight: 700;}
#mobile-menu-hold .mobile-menu li.top-level a.has-submenu.sub.active {margin-bottom: -26px;}
#mobile-menu-hold .mobile-menu li.top-level ul.sub {list-style: none; margin: 0px -40px 0px -20px; display: none; padding: 0px 40px; background-color: #19262E;}
#mobile-menu-hold .mobile-menu li.top-level ul.sub li {border-bottom: none; border-bottom: solid 1px #3E4950;}
#mobile-menu-hold .mobile-menu li.top-level ul.sub li:last-of-type {border-bottom: none;}
#mobile-menu-hold .mobile-menu li.top-level ul.sub ul.subsub {list-style: none; padding-left: 20px; padding-right: 20px;}
#mobile-menu-hold.open {overflow-y:scroll; pointer-events: all;}
#mobile-menu-hold.open .mobile-menu { -webkit-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px);}  
body.mobile #mobile-head-hold, body.mobile #mobile-menu-hold {display: block;}


/*-------------- Hero --------------*/
section#hero {background-image: url(../../../../assets/images/banners/home.jpg); background-size: cover; background-position: center center; /*height: 930px;*/ padding-top: 56.25%; overflow: hidden;}
section#hero::after {content: ''; position: absolute; z-index: 0; top: 0px; right: 0px; bottom: 0px; left: 0px; background-color: #000000; opacity: 0.25; -webkit-transition:all 0.25s ease-in-out; transition: all 0.25s ease-in-out;}
section#hero .text {position: absolute; max-width: 1300px; width: 100%; padding: 0px 20px; top:50%; left: 50%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); text-align: center; color: #fefefe; z-index: 1;}
section#hero .text h1 {margin-top: 0px; color: #fefefe; font-size: 57px; line-height: 75px; text-transform: capitalize;}

/* WEBP CSS */
html.no-webp section#hero {background-image:url(../../../../assets/images/banners/home.jpg);}
html.webp section#hero {background-image:url(../../../../assets/images/banners/home.webp);}
/*--*/
@media screen and (max-width: 900px) {
html.no-webp section#hero {background-image:url(../../../../assets/images/banners/home-900px.jpg);}
html.webp section#hero {background-image:url(../../../../assets/images/banners/home-900px.webp);}

}
@media screen and (max-width: 600px) {
html.no-webp section#hero {background-image:url(../../../../assets/images/banners/home-600px.jpg);}
html.webp section#hero {background-image:url(../../../../assets/images/banners/home-600px.webp);}
}


/*-------------- BG Video --------------*/
section#hero video#bgvid {
 position: absolute; width: 100%; height: auto; top: 0px;
 z-index: -100;
}
section#hero video { display: block;}
body.mobile section#hero video#bgvid, body.mobile section#hero::after {display: none;}


/*-------------- Main --------------*/
main .text {width: -webkit-calc(100% - 375px);width: calc(100% - 375px); float: left; padding-right: 40px; margin: 230px 0px;}
main .text h3 {color: #273b48;}
main .text h3 span {color: #ad8c32;}
main .text .info {-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;}
#stock-price {width: 375px; background-color: #E5E5E5; padding: 40px 40px 80px 40px; float: left; color: #273b48; margin: 230px 0px;}
#stock-price h3 {color: #ad8c32; margin-top: 0px;}
#stock-price dl {margin: 28px 0px 8px 0px;}
#stock-price dl div {width: 100%; border-top: solid #B1B1B1 1px; overflow: hidden; padding: 15px 0px;}
#stock-price dl div:last-of-type {border-bottom: solid #B1B1B1 1px;}
#stock-price dt {width: 135px; float: left;}
#stock-price dd {width: -webkit-calc(100% - 205px);width: calc(100% - 205px); float: left; margin: 0px;}
#stock-price dd:last-of-type {width: 70px; text-align: right;}
#stock-price .up::before, #tick-scroll .up::before {content: '\f077'; font-family: FontAwesome; color: #39AB11; display: inline-block; padding-right: 3px;}
#stock-price .down::before, #tick-scroll .down::before {content: '\f078'; font-family: FontAwesome; color: #AB1123; display: inline-block; padding-right: 3px;}
#stock-price .disclaimer {font-size: 14px; line-height: 30px; margin-bottom: 20px; color: #737373;}


/*-------------- Features --------------*/
section#features {clear: both;}
section#features .box {width: 50%; height: 750px; float: left;}
section#features .box .text {text-align: center; font-family: "Lora", serif; font-size: 50px; line-height: 64px; font-weight: 400;}
section#features .project {background-image: url(../../../../assets/images/panels/bg-project.jpg);}
section#features .downloads {background-image: url(../../../../assets/images/panels/bg-map.png);}


/*-------------- News --------------*/
section#news {background-color: #273b48;}
section#news .container {position: relative;}
section#news h3 {color: #eec580; padding-top: 160px;}
section#news .news-item {float: left; width: -webkit-calc(25%); width: calc(25%); padding: 12px 35px 20px; border-left: solid #0E171D 1px; height: 275px; margin-bottom: 70px;}
section#news .news-item:nth-child(3n + 1) {width: -webkit-calc(25%);width: calc(25%); padding: 12px 35px 20px 0px; border-left: none;}
section#news .news-item:nth-child(4) {clear: left;}
section#news .news-item .news-date {color: #a4a4a4; font-size: 14px; line-height: 30px; margin-bottom: 18px;}
section#news .news-item .news-title {margin-bottom: 22px;}
section#news .news-item .news-title a {color: #fefefe;}
section#news .all-news {position: absolute; text-align: left; bottom: 140px; background-color: #eec580; height: 275px; left: -webkit-calc(100% - 312px); left: calc(100% - 312px); width: 9999px; /*padding: 170px 0px*/; z-index: 1; white-space: nowrap; transition: all 0.25s ease-in-out;}
section#news .all-news a {font-size: 24px; line-height: 30px; font-family: "Lora", serif; color: #19262E; padding: 117px 2000px 128px 120px; position: absolute;}
section#news .all-news:hover {background-color: #22333D;}
section#news .all-news:hover a {color: #eec580;}
section#news .clear {height: 70px;}
section#news .team {/*background-image: url(../../../../assets/images/panels/bg-management.jpg);*/ height: 620px;}
/* WEBP CSS */
html.no-webp section#news .team {background-image:url(../../../../assets/images/panels/bg-management.jpg);}
html.webp section#news .team {background-image:url(../../../../assets/images/panels/bg-management.webp);}
/*--*/
@media screen and (max-width: 900px) {
html.no-webp section#news .team {background-image:url(../../../../assets/images/panels/bg-management-900px.jpg);}
html.webp section#news .team {background-image:url(../../../../assets/images/panels/bg-management-900px.webp);}
}
@media screen and (max-width: 600px) {
html.no-webp section#news .team {background-image:url(../../../../assets/images/panels/bg-management-600px.jpg);}
html.webp section#news .team {background-image:url(../../../../assets/images/panels/bg-management-600px.webp);}
}
/*section#news .team::after {background-color: #1c2b34;}*/
section#news .team .text {text-align: center; font-family: "Lora", serif; font-size: 50px; line-height: 64px; font-weight: 400;}

/*-------------- Media Listing --------------*/
section#news .media-listing { background: #23333e; width: 100%;}
section#news .media-listing .container {position: relative;}
section#news .media-listing h3 {color: #eec580; padding-top: 95px;}
section#news .media-listing .media-wrapper { display: flex; width: 100%; height: auto; overflow: auto;}
section#news .media-listing .inline-text-link { color: #fefefe; font-family: "niveau-grotesk",sans-serif; font-size: 20px; padding-left: 18px; transition: all 0.25s ease-in-out;}
section#news .media-listing .inline-text-link:hover { color: #eec580;}
section#news .media-listing .media-item {float: none; width:25%; padding: 12px 40px 0px 20px; border-left: solid #0E171D 1px; height: auto; margin-bottom: 70px;}
section#news .media-listing .media-item:nth-child(1) {width: 25%; padding: 12px 40px 0px 0px; border-left: none;}
section#news .media-listing .media-item:nth-child(4) {width: 25%; padding: 12px 20px 0px 20px; clear: none;}
section#news .media-listing .media-item .media-thumbnail {width: 100%; position: relative; height: 68px; /*background: white;*/ margin-bottom: 15px; display: block; /*max-width: 220px*/;}
section#news .media-listing .media-item .media-thumbnail img {position: absolute; top: 50%; left: 50%; transform:translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); max-width: 50%;}
section#news .media-listing .media-item .media-thumbnail.small img {max-width: 37%;}
section#news .media-listing .media-item .media-date {color: #a4a4a4; font-size: 14px; line-height: 30px; margin-bottom: 18px;}
section#news .media-listing .media-item .media-title {margin-bottom: 22px;}
section#news .media-listing .media-item .media-title a {color: #fefefe;}
section#news .media-listing .clear {height: 70px;}

/*-------------- Subscribe Section --------------*/
#subscribe {background-color:#F0F0F0; padding: 160px 0px 200px 0px;}
#subscribe #signup-text {color: #6d6d6d; margin-bottom: 70px;}
#subscribe #signup-text h1 {color: #ad8c32; margin-bottom: 20px;}
#subscribe #signup-info {}
#subscribe .signup-message {display: none;}
body.mobile #subscribe .signup-message {padding-top: 100px;}
form.signup .textbox {float: left; width: 32%; position: relative;}
/*form.signup .textbox.signup-name, form.signup .textbox.signup-phone {margin-right: 1%;}*/
form.signup .textbox.signup-email {margin-left: 2%; margin-right: 2%}
form.signup .textbox input { font-family: "Lora", serif;font-size:36px; color: #273b48; width:100%; line-height:60px; border-radius:0; border-width: 0px; background-color: transparent; border-bottom: solid 1px #c7c7c7; padding: 0px 1px; box-sizing: border-box; transition: all 0.25s ease-in-out;}
form.signup .textbox input:hover {border-bottom: solid 1px #9b9b9b;}
form.signup .textbox input:focus {border-bottom: solid 1px #ad8c32; outline: none;}
form.signup .textbox input:focus::-webkit-input-placeholder { color: #9b9b9b;}
form.signup .textbox input:focus:-moz-placeholder { color: #9b9b9b;}
form.signup .textbox input:focus::-moz-placeholder { color: #9b9b9b;}
form.signup .textbox input:focus:-ms-input-placeholder { color: #9b9b9b;}
form.signup .textbox input::-webkit-input-placeholder { color: #c7c7c7; transition: all 0.25s ease-in-out;}
form.signup .textbox input:-moz-placeholder { color: #c7c7c7; transition: all 0.25s ease-in-out;}
form.signup .textbox input::-moz-placeholder { color: #c7c7c7; transition: all 0.25s ease-in-out;}
form.signup .textbox input:-ms-input-placeholder { color: #c7c7c7; transition: all 0.25s ease-in-out;}
form.signup .textbox input:hover::-webkit-input-placeholder { color: #9b9b9b;}
form.signup .textbox input:hover:-moz-placeholder { color: #9b9b9b;}
form.signup .textbox input:hover::-moz-placeholder { color: #9b9b9b;}
form.signup .textbox input:hover:-ms-input-placeholder { color: #9b9b9b;}
form.signup .textbox.error input { border:2px solid #ee4036;}
form.signup .error-tooltip { display:none; position:absolute; top:-40px; left:0; color:#eec580; padding:10px 15px; font-size:12px; background:#273b48; width:250px; opacity:0; -webkit-transition:all 2s ease-in-out; transition:all 2s ease-in-out; z-index:1000;}
form.signup .error-tooltip i { margin-right:5px }
form.signup .error-tooltip:before { content:" "; border-style:solid; border-width:10px 12px 0px 12px; border-color:#273b48 transparent transparent transparent; position:absolute; bottom:-10px; }
form.signup .textbox.show-tooltip .error-tooltip { display:inline-block; animation:tooltip 5s 1; -webkit-animation:tooltip 5s 1;  }
form.signup .form-password {display:none !important; }
form.signup .signup-submit {clear: both;}
form.signup .signup-submit-button {background-color: transparent; border: transparent; margin-top: 40px; color: #ad8c32; padding: 0px;}
form.signup .signup-submit-button:focus {outline: none;}
form.signup .signup-submit-button::after {display: inline-block; content: '\f18e'; font-family: FontAwesome; padding-left: 3px;color: #ad8c32;}


/* KEYFRAMES */
@-webkit-keyframes tooltip {
0% {opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
20%, 90% {opacity: 1; -webkit-transform: none; transform: none; }
100% {opacity: 0; } 
}
@keyframes tooltip {
0% {opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
20%, 90% {opacity: 1; -webkit-transform: none; transform: none; }
100% {opacity: 0; } 
}
/*-------------- Email Pop Up --------------*/
#mylightbox {
  display: none;
}
.featherlight {
    background: rgba(0,0,0,.8) !important;
    z-index: 100000!important;
}


.featherlight .featherlight-content #mylightbox {
  display: block;
}
.featherlight .featherlight-content {
    background-color: #23333e!important;
    border-bottom: 0!important;
    padding:0 0 65px 0!important;
    box-sizing: border-box!important;
    overflow-y: hidden;
}
.featherlight * {
  max-width: 660px !important;
  width: 100%;
  overflow: hidden;
}

.featherlight input {
  width: 300px !important;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #273b48;
  display: block;
  border: 1px solid transparent;
  padding-left: 20px;
  font-size: 15px;
  color:#fff;
}

.featherlight input:focus,
.featherlight button:focus {
    outline:0;
}
.featherlight input:focus {
    border:1px solid #eec580;
    
}
.featherlight input::-webkit-input-placeholder { color: #fff;}
.featherlight input:-moz-placeholder { color: #fff;}
.featherlight input::-moz-placeholder { color: #fff;}
.featherlight input:-ms-input-placeholder { color: #fff;}

.featherlight input:focus::-webkit-input-placeholder { color: #eec580;}
.featherlight input:focus:-moz-placeholder { color: #eec580;}
.featherlight input:focus::-moz-placeholder { color: #eec580;}
.featherlight input:focus:-ms-input-placeholder { color: #eec580;}


.featherlight .featherlight-close-icon {
  color: #bdc2c5 !important;
  width: 25px !important;
  background: transparent !important;
  top:20px;
  right: 20px;
}
.featherlight h3 {color: #eec580;padding:100px 0 0 0;text-align: center;}
.featherlight .btn {
    background-color: transparent; 
    border: transparent; 
    margin-top: 20px; 
    color: #eec580; 
    padding: 0px;
}
.featherlight .btn:focus {
    outline: none;
}
.featherlight .btn::after {
    display: inline-block; 
    content: '\f18e'; 
    font-family: FontAwesome; 
    padding-left: 3px;
    color: #eec580;
}
.featherlight p {
  text-align: center;
  font-size: 15px;
    color:#a4a4a4;
}
.captcha-popup > div {
    margin:0 auto;
}
.featherlight .message {
    text-align: center;
    color: #eec580;
    margin-top:50px;
}
/*-------------- Footer --------------*/
footer {background-color: #273b48;}
#tick-scroll {background-color: #23333E; color: #eec580; font-size: 50px; line-height: 185px; height: 185px; overflow: hidden; position: relative;}
#tick-scroll .scroller {-webkit-animation: marquee 25s linear infinite;animation: marquee 25s linear infinite; overflow: hidden; white-space: nowrap;}
#tick-scroll:hover .scroller {-webkit-animation-play-state: paused;animation-play-state: paused;}
#tick-scroll .scroller span.spanner {padding-left: 115px;}
#tick-scroll a {position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px;}
footer .container .hold {overflow: hidden;}
footer .container .hold:nth-of-type(1) {padding: 130px 0px 100px 0px}
footer .container .hold:nth-of-type(2) {padding-bottom: 40px;}
footer .nav {float: left; width: 60%; -webkit-columns: 2; -moz-columns: 2; columns: 2; padding-right: 20px;}
footer .nav h3, footer .nav h3 a {color: #eec580; margin: 0px;}
footer .nav ul.sub {padding: 0px; margin: 0px 0px 18px; list-style: none;}
footer .nav ul.sub a {color: #fefefe; transition: all 0.25s ease-in-out;}
footer .nav ul.sub a:hover {color: #eec580;}
footer .extra {float: left; width: 40%;}
footer .copy {color: #a4a4a4; float: left;}
footer .blender {color: #a4a4a4; float: right;}
footer .blender a {text-transform: uppercase; color: #eec580; font-weight: 700;}

/* Scroll Animation */
@-webkit-keyframes marquee {
0% { margin-left: 20px; }
100% { margin-left: -2220px; }
}
@keyframes marquee {
0% { margin-left: 20px; }
100% { margin-left: -2220px; }
}


/*-------------- Responsive Adjustments --------------*/
@media screen and (max-width: 1435px) {
#head-hold nav.navigation #stock-info {padding-right: 30px;}
#head-hold nav.navigation ul li.dropdown a.top-level {padding: 28px 20px;}
}
@media screen and (max-width: 1350px) {
#head-hold .logo {padding-left: 20px;}
#head-hold nav.navigation {padding-right: 20px;}
/*#head-hold nav.navigation ul li.dropdown:last-of-type a.top-level {padding-right: 0px !important;}*/
}
@media screen and (max-width: 1200px) {
section#news .news-item {height: 280px;}
section#news .media-listing .media-item {height: 280px;}
}
@media screen and (max-width: 1140px) {
section#news .all-news {left: -webkit-calc(100% - 312px);left: calc(100% - 275px);}
section#news .all-news a {padding: 117px 2000px 128px 50px;}
}
@media screen and (max-width: 1067px) {
  #head-hold nav.navigation ul li.dropdown a.top-level {padding: 28px 15px;}
}
/*------------ Mobile Menu Break -------- */
@media screen and (max-width: 1530px) {
#width-check {z-index: 1;}
}
@media screen and (max-width: 1024px) {
#width-check {z-index: 1;}
}
@media screen and (max-width: 1000px) {
main .text {float: none; margin-top: 70px; margin-bottom: 0px; width: 100%; padding-right: 0px;}
main #stock-price {float: none; margin-top: 55px; margin-bottom: 50px; width: 100%;}
section#features .box {width: 100%; height: 375px; float: none;}
section#features .box .text {font-size: 25px; line-height: 32px;}
section#news .news-item {float: none; width: 100% !important; border-left: none; border-bottom: solid #0E171D 1px; padding: 35px 0px !important; margin: 0px; height: auto !important;}
section#news .news-item:nth-child(3) {border-bottom: none;}
section#news .news-item:nth-child(4), section#news .news-item:nth-child(5) {display: none;}
/*section#news .all-news {position: initial; width: -webkit-calc(100% + 40px); width: calc(100% + 40px); text-align: center; padding: 85px 0px; height: auto; margin: 0px -20px;}*/
section#news .clear {display: none;}
section#news .team {height: 310px;}
section#news .team .text {font-size: 25px; line-height: 32px;}
section#hero .text {max-width: 600px;}
section#hero .text h1 {font-size: 25px; line-height: 32px;}
section#news .all-news {position: initial; width: -webkit-calc(100% + 40px); width: calc(100% + 40px); text-align: center;padding: 95px 0px; height: auto; margin: 0px -20px;} 
section#news .all-news a { position: initial; }
section#news .media-listing .container.show { overflow: auto; }
section#news .media-listing .container.show .media-wrapper { overflow: auto; display: block; padding-bottom: 65px; }
section#news .media-listing .inline-text-link { display: block; padding-left: 0px; margin-top: 15px; }
section#news .media-listing .media-item,
section#news .media-listing .media-item:nth-of-type(1),
section#news .media-listing .media-item:nth-of-type(4) { display: block; width: 100%; border-left: none; padding-left: 0px; padding-right: 0px; margin-bottom: 0px; border-bottom: 1px solid #0E171D; padding: 35px 0px 25px !important; }
section#news .media-listing .media-item:nth-of-type(4) { border-bottom: none; }
section#news .media-listing .media-item .media-thumbnail {width: 225px; max-width: 225px;}
}

@media screen and (max-width: 900px) {
footer .container .hold:nth-of-type(1) {padding: 55px 0px 45px 0px}
footer .container .hold:nth-of-type(2) {padding-bottom: 45px;}
footer .nav {display: none;}
footer .extra {float: none; width: 100%;}
footer .copy, footer .blender  {float: none; text-align: center;}
#tick-scroll {font-size: 25px; line-height: 90px; height: 90px;}
#tick-scroll .scroller {-webkit-animation: marquee 40s linear infinite;animation: marquee 40s linear infinite;}
#tick-scroll .scroller span.spanner {padding-left: 40px;}
}
/*------------ Mobile Break -------- */
@media screen and (max-width: 768px) {
body {font-size: 14px; line-height: 23px;}
h1 {font-size: 25px; line-height: 32px;}
h2 {font-size: 20px; line-height: 29px;}
h3 {font-size: 20px; line-height: 29px;}
h4 {font-size: 14px; line-height: 23px;}
h5 {font-size: 10px; line-height: 18px;}
section#hero {height: 400px !important;}
main .text .info {-webkit-column-count: 1;-moz-column-count: 1;column-count: 1;}
#subscribe {padding: 60px 0px 85px 0px;}
form.signup .textbox {float: none; width: 100%; position: relative;}
#subscribe #signup-text {margin-bottom: 10px;}
#subscribe #signup-text h1 {margin-bottom: 10px;}
form.signup .textbox {margin-bottom: 20px;}
form.signup .textbox.signup-name {margin-right: 0%;}
form.signup .textbox.signup-email {margin-left: 0%;}
form.signup .textbox input {font-size:25px; line-height:45px;}
form.signup .signup-submit input {margin-top: 20px;}
}

/*------------ Adjustments -------- */
main, section#features { display:none !important}
section#news h3 { padding-top:75px; }

/* MENU */
#head-hold nav.navigation .open .drop {-webkit-transform: none !important;-ms-transform:none !important;transform: none !important;}
#head-hold nav.navigation ul .drop {padding-top: 15px; padding-bottom:20px; min-height:auto; min-width:250px; }
#head-hold nav.navigation ul .drop .info, #head-hold nav.navigation ul .drop .extra { display:none !important }
#head-hold nav.navigation ul .drop .nav { width:100%; float:none; }
#head-hold nav.navigation ul .drop .nav li.sub { line-height:0; }
#head-hold nav.navigation ul .drop .nav a { line-height:22px; }
#head-hold nav.navigation ul .drop .nav li.subsub a { font-size:12px; }
#head-hold nav.navigation ul li.dropdown { position:relative; }
#head-hold nav.navigation ul li.dropdown.projects .drop .nav { width:100%; webkit-column-count: initial;-moz-column-count: initial; column-count: initial; }
#head-hold nav.navigation ul li.dropdown.projects .drop .nav a.sub { font-size: 15px; line-height: 24px; font-weight:700; }
#head-hold nav.navigation ul li.dropdown.projects .drop .nav ul.subsub { margin-top: 7px; margin-bottom: 20px; }
#head-hold nav.navigation ul li.dropdown.projects .drop .nav li.sub:last-of-type ul.subsub { margin-bottom:0; }
#head-hold nav.navigation ul li.dropdown.contact .drop { left: auto; right:0; text-align:right; }
#head-hold nav.navigation ul li.dropdown.news .drop { display:none; }
#head-hold nav.navigation ul li.follow-us { position: relative; display: inline-block; }
#head-hold nav.navigation ul li.follow-us a {font-size: 14px; text-transform: uppercase; color: #fefefe; font-weight: 500; /*padding: 28px 35px;*/ line-height: 70px;}
#head-hold nav.navigation ul li.follow-us a i { padding: 10px 13px; display: inline-block; border-radius: 50%; background: rgba(255,255,255,0.15); margin-left: 15px; font-size: 17px;}

@media screen and (max-width: 1435px) {
  #head-hold nav.navigation ul li.follow-us a {padding: 28px 20px;}
}

@media screen and (max-width: 1180px) {
  #head-hold nav.navigation ul li.follow-us a span {display: none;}
  #head-hold nav.navigation ul li.follow-us a {padding: 28px 0px;}
}

.featured-video-frontpage {
    width: 100%;
    max-width: 640px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    width: 100%;
    max-width: 640px;
}

.video-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* FEATURED VIDEO IMPLEMENTATION - Dustin (20190926) */
section.featured-video { background: #283B49; padding-top: 85px; }
section.featured-video h3 { color: #eec580; }
section.featured-video .featured-video__wrapper { border-bottom: 2px solid #0e171d; display: flex; padding-bottom: 85px; width: 100%; margin-top: -130px; align-items: center}
section.featured-video .featured-video__wrapper > div.video-hold{ width: 56%; padding-right: 120px; padding-top: 140px;}
section.featured-video .featured-video__wrapper > div:last-of-type { width: 44%;}
section.featured-video .featured-video__wrapper--left { height: auto;  overflow: hidden; padding-bottom: 56%;  position: relative;}
section.featured-video .featured-video__wrapper--left > iframe { height: 100%; left: 0; position: absolute; top: 0; width: 100%;}
section.featured-video .featured-video__wrapper--right { background: #23333e; padding: 60px 60px 60px 100px; position: relative;}
section.featured-video .featured-video__wrapper--right::after {content: ''; position: absolute; top: 0px; bottom: 0px; width: 100000px; left: 0px; z-index: 0; background: #23333e;}
section.featured-video .featured-video__wrapper--right > span { color: #a4a4a4;font-size: 14px;line-height: 30px;margin-bottom: 18px;}
section.featured-video .featured-video__wrapper--right > p  { color: #ffffff;}
section.featured-video .featured-video__wrapper--right > p span { color: #eec580;}

section.featured-video .featured-video__wrapper .video-hold p:first-of-type {color: #ffffff; margin: 20px 0px 0px 0px;}
section.featured-video .featured-video__wrapper .video-hold p:nth-of-type(2) {color: #000000;}
section.featured-video .featured-video__wrapper .video-hold p:nth-of-type(2) span:first-of-type {color: #eec580; margin-right: 10px;}
section.featured-video .featured-video__wrapper .video-hold p:nth-of-type(2) span:last-of-type {color: #a4a4a4; font-size: 14px; margin-left: 10px;}

.featured-form {width: 304px; position: relative; z-index: 1;}
.featured-form .g-recaptcha {float: left; margin-top: 0px; opacity: 0; height: 0px; transition: all 0.25s ease-in-out;}
.featured-form .g-recaptcha.show {opacity: 1; height: 78px;}
.featured-form input {
  width: 300px !important;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #273b48;
  display: block;
  border: 1px solid transparent;
  padding-left: 20px;
  font-size: 15px;
  color:#fff;
}
.featured-form input:focus,
.featured-form button:focus {
    outline:0;
}
.featured-form input:focus {
    border:1px solid #eec580;    
}
.featured-form input::-webkit-input-placeholder { color: #fff;}
.featured-form input:-moz-placeholder { color: #fff;}
.featured-form input::-moz-placeholder { color: #fff;}
.featured-form input:-ms-input-placeholder { color: #fff;}

.featured-form input:focus::-webkit-input-placeholder { color: #eec580;}
.featured-form input:focus:-moz-placeholder { color: #eec580;}
.featured-form input:focus::-moz-placeholder { color: #eec580;}
.featured-form input:focus:-ms-input-placeholder { color: #eec580;}
.featured-form h3 {color: #ffffff !important; text-align: center; font-size: 16px; line-height: 26px; font-family: "niveau-grotesk",sans-serif;}
.featured-form .btn {
    background-color: transparent; 
    border: transparent; 
    margin-top: 20px; 
    color: #eec580; 
    padding: 0px;
}
.featured-form .btn:focus {
    outline: none;
}
.featured-form .btn::after {
    display: inline-block; 
    content: '\f18e'; 
    font-family: FontAwesome; 
    padding-left: 3px;
    color: #eec580;
}
.featured-form p {
  text-align: left;
  font-size: 15px;
    color:#a4a4a4;
}
.featured-form .message {
    text-align: center;
    color: #eec580;
    /*margin-top:50px;*/
}

@media screen and (max-width: 1140px) {
  /*section.featured-video .featured-video__wrapper--left { padding-bottom: 31.5%;}*/
  section.featured-video .featured-video__wrapper--right { padding: 20px 30px;}
}

@media screen and (max-width: 975px) {
  section.featured-video .featured-video__wrapper { display: block;}
  section.featured-video .featured-video__wrapper > div:first-of-type,
  section.featured-video .featured-video__wrapper > div:last-of-type { width: 100%; margin-top: 30px;}
  section.featured-video .featured-video__wrapper--left { max-width: 100%; /* padding-bottom: 52.5%; */}
  section.featured-video .featured-video__wrapper--right { padding: 25px 0px;}
  section.featured-video .featured-video__wrapper--right::after {left: -20px;}
  section.featured-video .featured-video__wrapper > div.video-hold {padding-right: 0px;}
  .featured-form {margin: auto; width: 100%;}
  .featured-form input {width: 100% !important;}
}
@media screen and (max-width: 640px) {
  section.featured-video .featured-video__wrapper { padding-bottom: 0px; border-bottom: 0px; }
}
@media screen and (max-width: 360px) {.g-recaptcha{transform: scale(0.8);}}


/* ===== Inline News Signup ===== */
/* Added by DR on 2020/01/31 */
section#news .news-item:last-of-type {border-right: solid #0E171D 1px;}
#news .signup-inline-news {padding-left: 35px; display: inline-block; width: 25%; }
#news .signup-inline-news h3 {text-align: left; padding-top: 0;}
#news .signup-inline-news .featured-form {width: 100%;}
#news .signup-inline-news .featured-form input {background-color: #23333e; width: 100% !important;}
#news .signup-inline-news .featured-form .g-recaptcha {pointer-events: none; float: none; transform-origin: left; transform: scale(0.8);}
#news .signup-inline-news .featured-form .g-recaptcha.show {pointer-events: all;}
#news .signup-inline-news .featured-form .btn {display: block; clear: left;}
#news .signup-inline-news .featured-form .g-recaptcha.show + .btn {display: block; margin-top: 15px; clear: left;}

/* Homepage Quick Links */
.homepage-quick-links {align-items: center; background-color: #23333e;display: flex;justify-content: center;height: 80px;width: 100%;}
.homepage-quick-links > a {align-items: center; background-image: url(../img/bg-presentation.jpg); background-color: #19262E; align-items: center; display: flex;justify-content: center;color: #eec580;height: 60px; padding-left: 35px; padding-right: 35px; position: relative; z-index: 1;}
.homepage-quick-links > a:before {content: ''; position: absolute; z-index: 0; top: 0px; right: 0px; bottom: 0px; left: 0px; background-color: #273b48; opacity: 0; -webkit-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
.homepage-quick-links > a > span { font-family: "Lora", serif; position: relative; z-index: 3;}
.homepage-quick-links > a > span > i { display: inline-block; font-size:  20px; font-family: FontAwesome; color: #eec580 ; padding-left:  20px; }
.homepage-quick-links > a:hover:before { opacity:  0.3; }
.homepage-quick-links > a:hover: {background-color: #273b48;}
/* CTA hero size change */
#hero a.follow {font-size: 24px;}

@media screen and (max-width: 1175px) {
  #news .signup-inline-news .featured-form .g-recaptcha {transform: scale(0.67);}
}
@media screen and (max-width: 1000px) {
  section#news .news-item:last-of-type {border-right: none;}
  #news .signup-inline-news {border-top: solid #0E171D 1px; padding: 35px 0px;width: 100%;  }
  #news .signup-inline-news .featured-form .g-recaptcha {transform: scale(0.9);}
  #hero a.follow{font-size: 20px;margin-top: 25px;display: block;}
}
@media screen and (min-width: 1351px) {
    #head-hold nav.navigation ul li.dropdown a.top-level {padding: 28px 8px;}
}
@media screen and (max-width: 1350px) {
    #head-hold nav.navigation #stock-info {padding-right: 20px; font-size: 12px;}
    #head-hold nav.navigation #stock-info .symbol:first-child {padding-right: 10px;}
    #head-hold nav.navigation ul li.dropdown a.top-level {font-size: 12px; padding: 28px 8px;}
    #head-hold nav.navigation ul li.follow-us a {font-size: 12px;}
}

/* Nav Changes - 20201009 */
.gold-royalty { 
    background-color: #eec580;
    display: inline-block;
    padding: 10px;
    border: 2px solid #eec580;
    transition: all ease-in-out 250ms;
}
.gold-royalty:hover { 
    background-color: transparent;
}
#head-hold nav.navigation ul li.gold-royalty a.top-level {
    color: #fefefe;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: "niveau-grotesk", sans-serif;
}
#head-hold nav.navigation ul li.gold-royalty a.top-level:hover {
    color: #fefefe !important;
}
@media screen and (max-width: 1050px) {
    #head-hold nav.navigation ul li.dropdown a.top-level {
        padding: 28px 5px;
    }
}

/* Nav Changes - 20220727 */
.usgold { 
    background-color: #eec580;
    display: inline-block;
    padding: 10px;
    border: 2px solid #eec580;
    transition: all ease-in-out 250ms;
}
.usgold:hover { 
    background-color: transparent;
}
#head-hold nav.navigation ul li.usgold a.top-level {
    color: #fefefe;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: "niveau-grotesk", sans-serif;
}
#head-hold nav.navigation ul li.usgold a.top-level:hover {
    color: #fefefe !important;
}
@media screen and (max-width: 1050px) {
    #head-hold nav.navigation ul li.dropdown a.top-level {
        padding: 28px 5px;
    }
}
.banner-news-box {
    border: 2px solid #fefefe;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    max-width: 535px;
}
.banner-news-box:hover {
    opacity: 0.7;
    transition: all ease-in-out 0.25s;
}
.banner-news-box a {
    color: #fefefe;
}
@media screen and (max-width: 480px) {
    .banner-news-box {
        padding: 5px;
        font-size: 12px;
    }
}
@media screen and (max-width: 410px) {
    .banner-news-box {
        padding: 2px;
        font-size: 11px;
    }
}

/* Consent Popup */

#consent-modal { position: fixed; top: 0; right: 0; bottom: 0; left: 0; display: flex; align-items: center; justify-content: center; z-index: 100000; opacity: 0; pointer-events: none; transition: all 0.25s ease-in-out; }
#consent-modal.show { opacity: 1; pointer-events: all; overflow-y: hidden; }
#consent-modal::before { content: ''; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 100000; background-color: #000000; opacity: 0.5; }
#consent-modal > div { box-sizing: border-box; position: relative; z-index: 100001; width: 100%; max-width: 700px; background-color: #ffffff;    /*border: solid 1px #000000;*/ box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2); padding: 40px 80px 40px 30px; }
#consent-modal .close { position: absolute; top: 10px; right: 20px; cursor: pointer; display: block; }
#consent-modal .close span { text-decoration: underline; }
#consent-modal .content { display: flex; }
#consent-modal .content > div *:first-child { margin-top: 0px; }
#consent-modal input[type="checkbox"] { -webkit-appearance: checkbox; margin: 10px 20px 0px 0px; min-width: 20px; }
@media screen and (max-width:767px) {
  #consent-modal > div { padding: 40px 40px 40px 20px; }
}

#consent-modal .btn{background-color: transparent;border: transparent;margin-top: 20px;color:#ad8c32;padding: 0px;}
#consent-modal .btn::after {display: inline-block;content: '\f18e';font-family: FontAwesome;padding-left: 3px;color: #ad8c32;}

#mylightbox .popup-form input[type="checkbox"] {
    -webkit-appearance: checkbox;
    margin: 10px 20px 0px 0px;
    min-width: 20px;
    height: 20px;
}
#mylightbox .popup-form .consent-wrap{
    display: flex; justify-content: flex-start; width:80%;margin: 0 auto;
}
#mylightbox .popup-form .consent-wrap input{
    width:50px !important;
}
#mylightbox .popup-form input[type=checkbox] + label{ color:#ffffff; font-size:14px; }

.fa.fa-twitter::before{ content:"𝕏"; }

/* body.str-whistler.cat-projects.sub-cat-united_states .nav-tabs { display: none; } */